$sans-serif: 'Open Sans', sans-serif;
$serif: 'Vollkorn', serif;
$mid-width: '(max-width: 900px)';
$mobile-width: '(max-width: 600px)';
@mixin main-heading-h1 {
  font-size: 2em;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  font-family: $serif;
  color: #333;
  @media #{$mid-width} {
    text-align: center;
  }
}
@mixin sub-heading-h2 {
  font-size: 1.5em;
  font-family: $serif;
  color: #444;
  display: inline-block;
  @media #{$mid-width} {
    text-align: center;
    display: block;
  }
}
@mixin sub-heading-h3 {
  font-size: 1.15em;
  font-family: $serif;
  margin: 10px 0 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  
  @media #{$mid-width} {
    border-bottom: none;
  }
}
%list-columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

a {
  text-decoration: none;
  color: #555;
  transition: 0.3s ease;

  &:hover {
    color: #CC00CC;
  }
}

article {
  line-height: 1.5;
  padding-bottom: 200px;
  color: #333;
}

header {
  text-align: center;
  background: rgba(204, 204, 204, 0.8);
  padding: 50px 0;

  h1 {
    font-family: $serif;
    font-size: 3em;
  }

  h2 {
    font-family: $sans-serif;
    font-style: italic;
    font-size: 1.5em;
    padding: 0 20px;
  }
}

.resume-image {
  border-radius: 50%;
  max-width: 150px;
  margin-bottom: 30px;
}

.contact-info {
  font-family: $sans-serif;
  margin-top: 20px;
}

.phone-number,
.email-address {
  display: block;
  margin-bottom: 5px;
}

.icon {
  margin: 0 5px;
}

section {
  width: 100%;
  max-width: 960px;
  margin: 20px auto;
  padding: 20px;
  font-family: $sans-serif;
  box-sizing: border-box;

  h1 {
    @include main-heading-h1;
  }

  h2 {
    @include sub-heading-h2;
  }
}

.education-section-heading {
  margin-right: 10px;
}

.address-container {
  display: inline-block;
}

.school-name-location-date-container {
  display: inline-block;

  @media #{$mid-width} {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
}

.school-location,
.school-dates,
.state-abbr {
  font-style: italic;
  margin-left: 5px;
}

.languages-list,
.tools-list {
  @extend %list-columns;
  
  @media #{$mobile-width} {
    flex-wrap: wrap;
  }
  
  >li {
    flex-grow: 1;
    
    @media #{$mid-width} {
      width: 45%;
      margin-bottom: 20px;
    }
  }
}

.secondary-languages-list,
.secondary-tools-list {
  color: #555;

    li {
      margin-left: 10px;
      
      @media #{$mid-width} {
        margin-left: 0;
        text-align: center;
      }
    }
}

.work-experience-list {
  @extend %list-columns;
  
  @media #{$mid-width} {
    flex-wrap: wrap;
  }

  >li {
    width: 100%;
    padding: 0 10px;
    
    @media #{$mid-width} {
      text-align: center;
      margin-bottom: 30px;
    }
  }
}

.secondary-work-experience-list {
  >li {
    padding: 3px 0;
    margin-left: 10px;
  }
}

.tertiary-work-experience-list {
  >li {
    margin-left: 10px;
  }
}

.organization-name {
  display: inline-block;
  margin-right: 10px;
}

.organization-link:hover {
  color: #888;
  text-shadow: none;
}

.organization-dates {
  font-style: italic;
}

.position-title {
  @include sub-heading-h3;
}

