body {
    margin: 0;
    background: #000;
    font-size: 0.3rem;
}
.player {
    width: 100%;
    height: 100%;
}
.player .video {
    width: 100%;
    height: 100%;
}
.fullscreen .video {
    object-position: center top;
}
.header {
    width: 100%;
    height: 1.14rem;
    line-height: 1.14rem;
    background: #fff;
    font-size: 0.36rem;
    text-align: center;
    color: #000;
}
.fullscreen .header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}
.fullscreen .player .video {
    object-position: center 100%;
}

